
@if (isAuthenticated() && !hidden) {
  <div class="rounded-lg shadow-md w-[15em] sm:h-full sm:min-h-screen max-sm:fixed max-sm:z-50 max-sm:h-screen">
    <div class="flex flex-col gap-3 bg-white p-5 h-full">

      <i class="fas fa-arrow-left text-gray-800 " (click)="hidden = true; hiddenChange.emit(true)"></i>
      <img class="rounded-full max-w-32 object-cover aspect-square self-center"
           ngSrc="images/default-profile-image.png"
           width="1280"
           height="1280"
           alt=""
      />
      <h1 class="font-bold text-2xl mt-5 max-sm:text-md max-sm:mt-2 border-b pb-2">Pepito</h1>
      <div class="flex flex-col gap-2 text-lg py-2">
        <div class="group text-gray-800 rounded hover:bg-indigo-700 hover:text-white duration-100 ease transition-all cursor-pointer px-2 py-1">
          <i class="text-indigo-700 fas fa-folder w-1/6 group-hover:text-white"></i>
          Workspace
        </div>

        <div class="group text-gray-800 rounded hover:bg-indigo-700 hover:text-white duration-100 ease transition-all cursor-pointer px-2 py-1">
          <i class="text-indigo-700 fas fa-user w-1/6 group-hover:text-white"></i>
          Profile
        </div>

        <div (click)="logout()"
             class="text-red-500 rounded hover:bg-red-500 hover:text-white duration-100 ease transition-all cursor-pointer px-2 py-1">

          <i class="fas fa-sign-out w-1/6"></i>
          Log out
        </div>
      </div>
    </div>
  </div>

}

