
@if (isAuthenticated() && !hidden) {
  <div class="w-[15em] sm:h-full sm:min-h-screen max-sm:fixed max-sm:z-50 max-sm:h-screen">
    <div class="bg-gray-50 p-3 h-full border-x border-gray-300">

      <div class="flex items-center justify-between border-b pb-3">
        <div class="flex items-center gap-2">
          <img class="rounded aspect-square shadow w-6 object-cover"
               src="images/img_1.png" />
          <span class="!font-bold text-sm cabin">MyWorkspace</span>
        </div>

        <button mat-icon-button
          class="rotate-180 sm:!hidden"
          (click)="hideSidebar()"
        >
          <mat-icon>keyboard_tab</mat-icon>
        </button>
      </div>

      <div class="flex items-center gap-2 border-b py-3">
        <img src="images/default-profile-image.png"
          class="rounded-full aspect-square shadow size-9 object-cover"
        />
        <div class="truncate text-xs">
          <div class="font-medium">Pepito pepito</div>
          <div class="text-[.9em] text-gray-500">{{'pepito@example.com'}}</div>
        </div>
      </div>


      <div class="text-gray-500 flex flex-col text-xs">
        <div class="text-xs text-gray-400 my-4 mb-2">Menu</div>
        <div class="hover:bg-black hover:text-white animated rounded px-4 p-2 cursor-pointer">
          <i class="fas fa-laptop me-2 w-5"></i> Workspace
        </div>
        <div class="hover:bg-black hover:text-white animated rounded px-4 p-2 cursor-pointer">
          <i class="fa-regular fa-star me-2 w-5"></i> Favorite
        </div>
        <div class="hover:bg-black hover:text-white animated rounded px-4 p-2 cursor-pointer">
          <i class="fa-regular fa-user me-2 w-5"></i> Profile
        </div>
        <div class="hover:bg-black hover:text-white animated rounded px-4 p-2 cursor-pointer">
          <i class="fas fa-gears me-2 w-5"></i> Settings
        </div>
        <div class="hover:bg-red-500 text-red-500 hover:text-white animated rounded px-4 p-2 cursor-pointer"
         (click)="logout()"
        >
          <i class="fa-solid fa-arrow-right-from-bracket me-2 w-5"></i> Log out
        </div>
      </div>

    </div>
  </div>

}

