<div class="w-full bg-white text-sm px-3 py-4 rounded-lg shadow-md flex items-center">

  @if (folder) {
    @if (folder.parentFolder) {
      <button mat-icon-button [routerLink]="['/folder', folder.parentFolder.id]"
              class="!text-lg !text-gray-800 cursor-pointer !transition-all !ease !duration-200">
        <i class="fas fa-chevron-up"></i>
      </button>
    }

    <div class="ms-3">
      <h1 class="mb-1 text-3xl max-sm:text-sm font-bold leading-none tracking-tight text-gray-900">
        {{ folder.name }}
      </h1>
      <p class="text-lg max-sm:text-sm font-normal text-gray-500">
        {{ folder.documents.length + folder.folders.length + " items" }}
      </p>
    </div>
  }

</div>
