<div class="flex items-center border-b p-3 text-sm">

  @if (folder) {
    <button mat-icon-button
            [routerLink]="folder.parentFolder ? ['/folder', folder.parentFolder.id] : null">
      <mat-icon>navigate_before</mat-icon>
    </button>

    <div class="ms-3">
      <h1 class="font-bold text-gray-900">
        {{ folder.name }}
      </h1>
      <p class="font-normal text-gray-500">
        {{ folder.documents.length + folder.folders.length + " items" }}
      </p>
    </div>
  }

</div>
