<div class="rounded-lg shadow-md bg-white w-full max-sm:text-sm p-4 py-3">

  @if (folder && folder.documents.length > 0) {

    <div class="overflow-x-auto w-full whitespace-nowrap">
      <table class="w-full text-sm max-sm:text-sm text-gray-500 border-separate border-spacing-y-[7px]">
        <tbody>
        <tr *ngFor="let document of folder?.documents" class="[&>td]:px-6 [&>td]:py-3 bg-gray-100">

          <td class="rounded-s-lg">
            <i class="fas fa-file me-6" [style.color]="getType(document.extension)"></i>
            <span>{{ document.filename }} {{ document.id }}</span>
          </td>

          <td>{{ document.extension }}</td>

          <td>{{ bytesToString(document.length) }}</td>

          <td>v{{ document.version }}</td>

          <td>
            @if (document.locked) {
              <i class="fa fa-lock text-red-500"></i>
            } @else {
              <i class="fa fa-lock-open text-green-500"></i>
            }
          </td>

          <td class="rounded-e-lg">
            <folder-document-menu [document]="document" (deleteDocumentEmitter)="deleteDocumentEmitter.emit($event)" />
          </td>

        </tr>
        </tbody>
      </table>
    </div>

  }
  @else {
    <div class="py-12 text-center text-gray-500">
      There are no documents or none match your search
    </div>
  }
</div>
