<div class="flex flex-col gap-2 rounded-lg shadow-md bg-white max-sm:text-sm p-4">

  @for (doc of folder.documents; track doc.id) {
    <div class="bg-gray-100 ps-6 p-3 rounded-lg flex gap-4 items-center">
      <i class="fas fa-file" [style.color]="getType(doc.extension)"></i>
      <div class="text-sm flex-grow overflow-hidden text-nowrap">
        <div>{{doc.filename}}</div>
        <div class="flex gap-2 text-gray-500">
          <span class="truncate">{{doc.extension}}</span>
          <span>{{bytesToString(doc.length)}}</span>
          <span>v{{doc.version}}</span>
        </div>
      </div>

      <div class="flex items-center gap-2">
        @if (doc.locked) {
          <i class="fa fa-lock text-red-500"></i>
        } @else {
          <i class="fa fa-lock-open text-green-500"></i>
        }
        <div class="rounded-e-lg">
          <folder-document-menu [document]="doc" (deleteDocumentEmitter)="deleteDocumentEmitter.emit($event)" />
        </div>
      </div>
    </div>

  } @empty {
    <div class="py-12 text-center text-gray-500">
      There are no documents or none match your search
    </div>
  }

</div>
