<div class="bg-white p-4 rounded-lg shadow-md flex gap-4 relative max-sm:!text-sm">

  <input type="text" placeholder="Search" [(ngModel)]="search" (ngModelChange)="onSearchChange()"
         class="border border-gray-200 w-full px-10 py-2 rounded bg-gray-50 outline-indigo-500 focus:bg-white ">

  <i class="fas fa-search absolute top-[40%] left-7 text-gray-400 "></i>


  <button mat-icon-button [matMenuTriggerFor]="createMenu"
          class="fas fa-add !bg-indigo-700 !text-white hover:!bg-indigo-900 cursor-pointer px-3 py-5 transition-all
          duration-200 ease">
  </button>

  <mat-menu #createMenu="matMenu">
    <div (click)="$event.stopPropagation()" class="flex flex-col justify-center gap-2 py-2 px-4 w-64">
      <input [(ngModel)]="folderName"
             required
             type="text"
             class="border border-gray-300 px-3 py-2 rounded shadow font-light outline-gray-600 "
             placeholder="Folder name">

      <button (click)="createFolder()" [disabled]="!folderName"
              class="w-full bg-indigo-700 text-white py-2 px-4 rounded-md hover:!bg-indigo-900 disabled:bg-indigo-300
              disabled:text-gray-500 disabled:pointer-events-none transition-all ease duration-200">
        Create folder
      </button>

    </div>
  </mat-menu>

</div>
