<div class="text-sm p-5">
  <span class="font-bold">Upload files</span>
  <div class="text-xs text-gray-500 mb-5">Upload files to the current folder</div>

  <ngx-dropzone [multiple]="false" (change)="onSelect($event)">
    <ngx-dropzone-label class="text-sm">
      <div>
        <i class="fas fa-upload fa-xl mb-5"></i>
      </div>
      Drag your file here or click to select it
    </ngx-dropzone-label>
    <ngx-dropzone-preview *ngIf="file" [file]="file" (removed)="onRemove()">
      <ngx-dropzone-label>{{ file.name }}</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>

  <div class="flex justify-end gap-2 my-5 text-xs">
    <button class="px-5 py-2 text-red-500 border border-red-500 rounded bg-white hover:text-white hover:bg-red-500 animated cursor-pointer disabled:pointer-events-none"
      (click)="onRemove()"
      [disabled]="!file"
    >
      Delete document
    </button>
    <button mat-button (click)="onUploadFile()" [disabled]="!file">
      Upload
    </button>
  </div>
</div>
