/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.cabin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.animated {
  transition: all ease .2s;
}


:root {
  --mat-menu-container-color: white;
  --mdc-chip-label-text-size: 1em;
  --mdc-chip-outline-color: #e3e3e3;
  --mdc-chip-label-text-color: #989898;

}

.mdc-button {
  border: 1px solid #dcdcdc !important;
  height: fit-content !important;
  padding: 0.7em !important;
  color: #565656 !important;
  border-radius: 5px !important;
  transition: all .2s ease;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 1em !important;
}

.mdc-button:hover {
  color: white !important;
  background-color: black !important;
  border: none !important;
  outline: none !important;
}

.mdc-button:disabled {
  background-color: #f8f8f8 !important;
  color: #bbbbbb !important;
}

.swal2-popup {
  font-size: small !important;
}


html, body {
  padding: 0;
  margin: 0;
  width: 100%
}

ngx-dropzone {
  background-color: #F9FAFB !important;
  border-color: rgb(42, 42, 42) !important;
}




