/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.cabin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.animated {
  transition: all ease .2s;
}

:root {
  --mat-menu-container-color: white;
  /*
  --mdc-chip-label-text-color: #4f46e5;
  --mdc-chip-outline-color: #4f46e5;

  --mdc-chip-elevated-selected-container-color: #4f46e5;
  --mdc-chip-selected-label-text-color: white;
  --mdc-chip-with-icon-selected-icon-color: white;
  */
}





html, body {
  padding: 0;
  margin: 0;
  width: 100%
}

body {


}

ngx-dropzone {
  background-color: #fdfdfd !important;
  border-color: rgb(67 56 202) !important;
}




