<div class="flex">
  @if (folder) {
    <sidebar [(hidden)]="sidebarHidden" />
    <div class="w-full">

      @if (sidebarHidden) {
        <button mat-icon-button
          class="fas fa-bars p-3 text-gray-800 w-fit !text-lg sm:!hidden"
          (click)="showSidebar()"
        ></button>
      }
      <folder-info [folder]="folder" />
      <folder-list
        [subfolders]="folder.folders"
        (createFolderEmitter)="createFolder($event)"
      />
      <folder-document-list
        [folderId]="folder.id"
        [documents]="folder.documents"
        (deleteDocumentEmitter)="deleteDocument($event)"
      />
      <upload-dropzone (uploadDocumentEmitter)="uploadDocument($event)" />
    </div>
  }
</div>
