<div *ngIf="this.folder" class="w-full px-20 py-5">

  <div class="w-full bg-white text-sm border-t border-x border-gray-200 px-6 py-4 shadow flex gap-10 items-center">

    @if (this.folder.parentFolder && this.folder.parentFolder.id) {
      <i [routerLink]="['/folder', this.folder.parentFolder.id]"
         class="fas fa-arrow-left fa-2xl text-gray-800 cursor-pointer px-3 py-6 rounded border border-gray-100 shadow
         hover:bg-gray-200 transition-all ease duration-300"></i>
    }


    <div>
      <h1 class="mb-1 text-3xl font-bold leading-none tracking-tight text-gray-900">{{this.folder.name}}</h1>
      <p class="text-lg font-normal text-gray-500">{{this.folder.documents.length + this.folder.folders.length + " items"}}</p>
    </div>
  </div>

  <div class="flex justify-end">

      <button mat-icon-button [matMenuTriggerFor]="createMenu"
          class="fas fa-add !bg-white !rounded hover:!bg-black px-3 py-5 !border border-gray-200 mt-2 fa-xl text-gray-600
          shadow transition-all ease duration-200 hover:text-white cursor-pointer">
      </button>

    <mat-menu #createMenu="matMenu" >
      <div (click)="$event.stopPropagation()" class="flex flex-col justify-center gap-2 py-2 px-4 w-64">
        <input type="text" class="border border-gray-200 px-3 py-2 rounded shadow font-light outline-gray-600"
               placeholder="Folder name">
        <button class="px-5 py-2 text-white bg-gray-800 rounded hover:bg-black transition-all ease duration-200 border-[1px]
                             border-black cursor-pointer">Create folder</button>
      </div>
    </mat-menu>
  </div>


  <ul class="w-full mt-2 shadow-sm">
    <li *ngFor="let subfolder of folder?.folders"
        [routerLink]="['/folder', subfolder.id]"
        class="bg-white text-sm border border-gray-200 px-6 py-4 text-gray-500 whitespace-nowrap dark:text-white cursor-pointer">
      <i class="fas fa-folder text-blue-700"></i>
      <span class="ms-3">{{subfolder.name}}</span>
    </li>
  </ul>

  <div class="relative overflow-x-auto mt-2 shadow">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <tbody>
      <tr *ngFor="let document of folder?.documents"
          class="bg-white border-t border-x border-gray-200 [&>td]:px-6 [&>td]:py-4">
        <td>
          <i class="fas fa-file text-gray-500"></i>
          <span class="ms-3">{{document.filename}}</span>
        </td>
        <td>{{document.extension}}</td>
        <td>{{document.length}}&nbsp;bytes</td>
        <td>
          @if (document.locked) {
            <i class="fa fa-lock text-red-500 "></i>
          } @else {
            <i class="fa fa-lock-open text-green-500"></i>
          }
        </td>
        <td>v{{document.version}}</td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">

            @if (isSupported(document.extension)) {
              @if (isEditable(document.extension)) {
                <a [routerLink]="['/documents', document.id]" [queryParams]="{action : Action.EDIT}" target="_blank">
                  <button mat-menu-item>
                    <i class="fa fa-edit me-2 text-gray-500"></i>
                    <span class="text-gray-700">Edit</span>
                  </button>
                </a>
              }
              <a [routerLink]="['/documents', document.id]" [queryParams]="{action : Action.VIEW}" target="_blank">
                <button mat-menu-item>
                  <i class="fa fa-eye me-2 text-gray-500"></i>
                  <span class="text-gray-700">View</span>
                </button>
              </a>
            }

            <button mat-menu-item (click)="deleteDocument(document.id)" [disabled]="document.locked">
              <i class="fa fa-remove me-2 text-red-500"></i>
              <span class="text-red-500">Delete document</span>
            </button>

          </mat-menu>
        </td>
        <td class="px-6 py-4">
          {{document.id}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="py-5">
    <app-upload-dropzone
      (uploadFileEmitter)="uploadDocument($event)"
    />
  </div>
</div>










